rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    /* Services */
    match /services/{document} {
      allow write;
      allow read: if request.auth != null;
    }
    
     /* userCollection */
    match /userCollection/{document} {
      allow write;
      allow read: if request.auth != null;
    }

      /* superAdmins */
    match /superadmins/{document} {
      allow write;
      allow read: if request.auth != null;
    }
    
     /* Tickets */
    match /tickets/{document} {
     /* allow write, read: if request.auth != null;  */

       allow write, read;
    }
   

  }
}