
<div *ngIf="service.service$ | async as service; else load " >
 
    <body id="livequeuewrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-9">

                  </div>
                  <div class="col-md-3">

        <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ service.displayName }}</span>

          <h1 class="display-4"> Queue </h1>

                      <div class="card-body">
                        <div class="chart-area">
                          <div *ngFor="let ticket of ticket.tickets$ | async ">
                           
                            <div class="container rounded ticket-wrapper mx-auto p-3">
                                <h4 class=""> Cashier 1</h4>
                                <h1 class=""> {{ ticket.ticketNo }}</h1>
                            </div>

                          </div> 
            
                          <ng-template #noticket>
                            <p> no tix </p>
                          </ng-template>
                        </div>
                      </div>

                          

                </div>
              </div>
          </div>
    </body>

  </div>

  <ng-template #load>

    <div class="container text-center loadStyle">
      <div class="row">
        <div class="col-md-12">
          <mat-progress-spinner 
          class="example-margin "
          [color]="color"
          [mode]="mode"
          [value]="value">
      </mat-progress-spinner>
      <p> Please wait while we load some data.</p>
        </div>
      </div>
    </div>
   
      
  
  </ng-template>

