#livequeuewrapper{
    height: 100vh;
    background-color: #F7F8FB;

    .ticket-wrapper{
        margin-top: 5px;
        border: 1px solid blue;
        height: 30%;
    }
}

.loadStyle {
    margin-top: 40vh;
    mat-progress-spinner{
     margin-left: auto;
     margin-right: auto;
    } 
  }