<html>

    <div *ngIf="service.service$ | async as service">
        <span class="mr-2 d-none d-lg-inline text-gray-600 small"> {{ service.displayName }}</span>

        <div *ngFor="let ticket of service.tickets | async ">
            <p style="color: black">  {{ ticket.ticketNo }} </p>
          </div> 
          
    </div>

 

 

    <body id="livequeuewrapper">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-9">

                  </div>
                  <div class="col-md-3">

                      <h1 class="display-4"> Queue </h1>

                      <div class="container rounded ticket-wrapper mx-auto p-3">
                          <h4 class=""> Cashier 1</h4>
                          <h1 class=""> P1100</h1>
                      </div>

                      <div class="container rounded ticket-wrapper mx-auto p-3">
                        <h4 class=""> Cashier 1</h4>
                        <h1 class=""> P1102</h1>
                    </div>

                </div>
              </div>
          </div>
    </body>


  </html>