<app-homenavbar></app-homenavbar>



<div id="jumbo" class="position-relative overflow-hidden p-3 my-auto   text-center bg-dark">
  <div class="col-md-6 p-lg-5 mx-auto my-auto mt-5">
    <h1 class="display-4 mt-5 font-weight-normal text-white">Unified Queuing System</h1>
    <p class="lead font-weight-normal text-white">A Multi platform application to make long waiting time a thing in the
      past</p>
    <a class="btn  btn-primary" href="#">Coming soon</a>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="container">

    <h1 class="text-center display-4 text-dark mt-5">
        How it works?
    </h1>

    <hr class="featurette-divider">

   

    <div class="row featurette">
      <div class="col-md-7 my-auto ">
        <h2 class="featurette-heading">Register your service. </h2>
        <p class="lead">
            By registering and setting up your service out of the box you will have a queue system already. If you already have an existing queue system
            and still want to use UQS dont worry we got you covered! you can use our <strong>API </strong>. Read more about this in our <a href="#"> documentation </a>.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="../../assets/setup.png" alt="Generic placeholder image">
      </div>
    </div>



    <hr class="featurette-divider">
   
    


    <div class="row featurette">
      <div class="col-md-7 order-md-2 my-auto">
        <h2 class="featurette-heading">Start using UQS. </h2>
        <p class="lead">
          Start your UQS service it will handle the rest for you. you can now go to specific cashier in your service then click start accepting queue.
 
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="../../assets/startusing.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 my-auto">
        <h2 class="featurette-heading">Tada! Hassless Queue!</h2>
        <p class="lead">
            Customers will see your Queue status online using the UQS mobile app and they can create a ticket for them selves. dont worry just focus on your thing UQS will handle the rest.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="../../assets/tada.png" alt="Generic placeholder image">
      </div>
    </div>


    <div class="row featurette mt-5">
      <div class="col-md-12 text-center">
        <h2 class="featurette-heading">Try it out now!</h2>
        <p class="lead">
           Already convinced in using the UQS App? Click the CTA below!
   
           <br />
         <a href="/login"><button class="btn btn-primary rounded"> Try Beta </button></a> 
        </p>
      </div>
    </div>


    <hr class="featurette-divider ">




    <h1 class="text-center display-3 text-dark mt-5">
      Documentation
    </h1>

    <p class="lead text-center">
         Sorry Documentation is not available yet.
    </p>


    

    <div *ngFor="let ver of system.Version$ | async ">
      <p style="color: black">  {{ ver.description }} </p>
    </div> 

<ng-template #none>
 <p> oppse </p>
</ng-template>
  
    <div class="my-3 p-3 bg-white rounded shadow-sm">
      <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>
     

      
      <div class="media text-muted pt-3">
        <img src="../../assets/tempLogo.png" alt=""  width="32" height="32" class="img-fluid mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@THEUQSTEAM</strong>
         App now works normally and how we want it but needs more work | February 19, 2020 
        </p>
      </div>


  
      <div class="media text-muted pt-3">
        <img src="../../assets/tempLogo.png" alt=""  width="32" height="32" class="img-fluid mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@THEUQSTEAM</strong>
          Added Database Functions for the web and mobile app | January 29, 2020 
        </p>
      </div>


      <div class="media text-muted pt-3">
        <img src="../../assets/tempLogo.png" alt=""  width="32" height="32" class="img-fluid mr-2 rounded">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@THEUQSTEAM</strong>
          First release of UQS on the web | January 28, 2020
        </p>
      </div>

 

    </div>

    <hr class="featurette-divider">


    <!-- /END THE FEATURETTES -->

</div>

<div class="container developers">

    <h1 class="text-center display-3 text-dark mt-5">
        Developers
    </h1>

    <br />
    <br />

     <!-- Three columns of text below the carousel -->
     <div class="row">
        <div class="col-lg-4 mx-auto ">
            <img class="rounded-circle img-dev" src="../../assets/ced.png"  >
            <h2>Dancedrick Alegroso</h2>
            <p class="lead"> Lead Developer | Full Stack </p>
            <ul > 
                <li> 
              <a href="https://www.facebook.com/cedrickAlegroso" target="_blank" > <img class="m-1" src="../../assets/messenger.svg" width="20" /> </a>
                </li>
                <li> 
                  <a href="https://github.com/cedrickalegroso" target="_blank" > <img class="m-1" src="../../assets/github.svg" width="20" /> </a>
                </li>
            </ul>
          </div><!-- /.col-lg-4 -->
     </div>
     <br />
     <div class="row">
       

        <div class="col-lg-4 ">
            <img class="rounded-circle img-dev" src="../../assets/steve.png" >
            <h2>Steven Felizardo</h2>
            <p class="lead"> Flutter | Firebase dev </p>
            <ul > 
              <li> 
            <a href="https://www.facebook.com/steve.felizardo.1" target="_blank" > <img class="m-1" src="../../assets/messenger.svg" width="20" /> </a>
              </li>
              <li> 
                <a href="https://github.com/ZerpStvn" target="_blank" > <img class="m-1" src="../../assets/github.svg" width="20" /> </a>
              </li>
          </ul>
          </div><!-- /.col-lg-4 -->

          <div class="col-lg-4">
            <img class="rounded-circle img-dev" src="../../assets/gaille.png" >
            <h2>Gaille Cabanggay</h2>
            <p class="lead"> Flutter | Firebase dev </p>
            <ul > 
              <li> 
            <a href="" target="_blank" > <img class="m-1" src="../../assets/messenger.svg" width="20" /> </a>
              </li>
              <li> 
                <a href="https://github.com/gailleleo1975" target="_blank" > <img class="m-1" src="../../assets/github.svg" width="20" /> </a>
              </li>
          </ul>
          </div><!-- /.col-lg-4 -->


        <div class="col-lg-4">
          <img class="rounded-circle img-dev" src="../../assets/carl.png">
          <h2>Carl Palisan</h2>
          <p class="lead"> Flutter Lead dev </p>
          <ul > 
            <li> 
          <a href="https://www.facebook.com/carl.pasilan.10" target="_blank" > <img class="m-1" src="../../assets/messenger.svg" width="20" /> </a>
            </li>
            <li> 
              <a href="https://github.com/unor12" target="_blank" > <img class="m-1" src="../../assets/github.svg" width="20" /> </a>
            </li>
        </ul>
        </div><!-- /.col-lg-4 -->
       
       
        <div class="container">
          <p class="text-center lead "> Techonology used </p>
          <ul >
            <li> <img src="../../assets/firebase.png" class="img-tech" /> </li>
            <li> <img src="../../assets/flutter.png" class="img-tech" /> </li>
            <li> <img src="../../assets/angular.png" class="img-tech" /> </li>
            <li> <img src="../../assets/dart.png" class="img-tech" /> </li>
            <li> <img src="../../assets/material.png" class="img-tech" /> </li>
          </ul>
         </div>

      </div><!-- /.row -->
   
</div>


<br />
<br />
<br />
<br />
<br />
<br />
<br />
    

<!-- Footer -->
<footer class="footer text-center p-5">
  <div class="container">
    <div class="row">

      <!-- Footer Location -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4 text-white">Resources</h4>
        <div class="row text-white">
          <div class="col-sm-6">
            <ul> 
              <li> <a href="https://firebase.google.com/" target="_blank" > Firebase </a>  </li>
              <li> <a href="https://flutter.dev/" target="_blank" > Flutter </a>  </li>
              <li> <a href="https://angular.io/" target="_blank" > Angular </a>  </li>
              <li> <a href="https://dart.dev/" target="_blank" > Dart </a>  </li>
            </ul>
          </div>

          <div class="col-sm-6">
            <ul> 
              <li> <a href="https://getbootstrap.com/" target="_blank" > Bootrap </a>   </li>
              <li> <a href="https://github.com/BlackrockDigital" target="_blank" > blackrockdigital </a>   </li>
              <li> <a href="https://events.withgoogle.com/dsc-solution-challenge/" target="_blank" > DSC Challenge </a>  </li>
            </ul>
          </div>

        </div>
      
      </div>

      <!-- Footer Social Icons -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4 text-white">Socials</h4>
        <a class="text-white" href="https://github.com/cedrickalegroso/UQS-DSC-Solution-Challenge" target="_blank" > <img class="m-1 text-white" src="../../assets/github.svg" width="50" /> </a>
      </div>

      <!-- Footer About Text -->
      <div class="col-lg-4 text-white ">
        <h4 class="text-uppercase mb-4 ">Contact</h4>
        <p class="lead mb-0"> You can contact us via email. </p>
        <p> theuqsteam@gmail.com </p>
      </div>

    </div>
  </div>
</footer>
  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; THEUQSTEAM</small>
    </div>
  </section>
  
  

